<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Of Groups</title>
    <link rel="stylesheet" href="groups.css" />
  </head>

  <body>
    <%- include('partial/header') %>


    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <!-- <div class="content">
      <h1>Generate a Groupe</h1>
    </div> -->

    <div class="groupList">
      <h2>List of Groups</h2>
      <ul>
        <% for (var i = 0; i < groupsArray.length ; i++) { %>
        <li><%= groupsArray[i].name %></li>
        <% } %>
      </ul>
    </div>

    <main>
      <h4>GroupsGenerator(2)</h4>
      <ul>

      </ul>

      <h4>Watch Assignator(3)</h4>
      <ul>
        
      </ul>
      <form action="">
        <input type="text" placeholder="ProjetName" />
        <input type="text" placeholder="GroupsMembre" />
        <button>Generate</button>
      </form>
    </main>
  </body>
</html>
