<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Of Groups</title>
    
</head>

<body>
    <header>
        <nav>

            <input type="students" id="Groups">
        </nav>
        <h2> List of Groups </h2>
        <h4> GroupsGenerator(2)</h4>
        <ul>
            <li>Thomas + Alban </li>
            <li>Moncef + Lucas</li>
            <li>Viencent + Loris </li>
        </ul>

        
            <h4>Watch Assignator(3)</h4>
            <ul>
                <li> Thomas + lucas + Loris</li>
                <li> Moncef + Viencent + Alban</li>
            </ul>
            <input type="text" id="ProjetName">
            <input type="text" id="GroupsMembre">
            <input type="text" id="Generate">
    </header>
    
    
</body>

</html>