<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GroupGenerator</title>
  </head>
  <body>
    <header>
      <nav>
        <h3>Group Generator</h3>
        <a href="http://localhost:3000/students">Students</a> |
        <a href="http://localhost:3000/Groups">Groups</a>
        <!-- <a class="nav-link" href="#">Students</a>
          <a class="nav-link" href="#">Groups</a> -->
      </nav>
    </header>
    <section>
      <h2>List of students</h2>
      <div>
        <ul>
          <% for (var i = 0; i < studentArray.length ; i++) { %>
            <li> <%= studentArray[i] %> </li>
        <% } %>

        </ul>

        <!--  -->
        <form action="http://localhost:8080/Students" method="GET">
          <label for="">Student</label>
          <input type="text" />
          <button>See Student</button>
        </form>

      </div>
    </section>
  </body>
</html>
